.ci_profile_titile {
  all: unset;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.ci_profile_section {
  border-bottom: 1px solid #e4e6ea;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 13px;
}
.ci_profile_section img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.ci_user_has_no_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4339f2;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.ci_profile_name {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.ci_profile_email {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
