.ci_heading_title {
  all: unset !important;
  font-family: "Inter", sans-serif !important;
  display: block;
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #000000 !important;
}
