.ci_auofill_error_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ci_auofill_error_titile {
  all: unset !important;
  display: block !important;
  font-size: 14px !important;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #000000;
}
