.ci_menu_outer_continer {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 80px;
  z-index: 99999;
}
.ci_menu_pop_up_container {
  width: 220px !important;
  background-color: #fafbff !important;
  z-index: 99999;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
  padding: 20px;
  border-radius: 10px !important;
}
.ci_menu_list_item {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.ci_menu_list_item span {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
}
.ci__tester {
  margin-bottom: 20px;
  background: transparent;
}
