.ci_job_detail_title {
  all: unset;
  display: block;
  font-family: "Inter", sans-serif;
  margin: -10px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
}
.ci_job_detail_button_section {
  display: flex;
  justify-content: flex-end;
}

.ci_job_desc .rsw-ce {
  height: 100px;
  background-color: #fff;
  overflow: auto;
}
.ci_job_desc .rsw-ce::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ci_job_desc .rsw-ce::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ci_job_desc .rsw-ce::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ci_job_desc .rsw-ce::-webkit-scrollbar-thumb:hover {
  background: #555;
}
