.ci_job_detail_title {
  all: unset;
  display: block;
  font-family: "Inter", sans-serif;
  margin: -10px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
}
.ci_job_detail_button_section {
  display: flex;
  justify-content: flex-end;
}
