.ci_job_save_button {
  all: unset;
  font-family: "Inter", sans-serif;
  width: 100%;
  background: #4339f2 !important;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 8px 0 !important;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ci_job_save_button_outline {
  background: #ffffff !important;
  border: 1px solid #4339f2 !important;
  color: #4339f2 !important;
}
.ci_job_logout_button {
  all: unset;
  font-family: "Inter", sans-serif;
  width: 100%;
  background: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  color: #7b7b7b;
  padding: 8px 0 !important;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e4e6ea;
}
.ci_job_logout_button:hover {
  color: #ff3a29;
}
.ci_job__button__disabled {
  /* cursor: not-allowed;
  background: #e2e2e2;
  color: #808080; */
}

.ci_job__button__disabled:disabled {
  cursor: not-allowed;
  background: #e2e2e2 !important;
  color: #808080 !important;
}
.ci_job_save_button:disabled {
  cursor: not-allowed;
  background: #e2e2e2 !important;
  color: #808080 !important;
}
