.ci_job_summary_button_section {
  /* position: relative; */
  display: flex;
  /* z-index: 5; */
  justify-content: flex-end;
}
.ci_job_stage_title {
  display: block;
  margin-top: -5px;
  margin-bottom: 3px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.ci_job_stage_title_new {
  display: flex;
  gap: 5px;
  margin-top: -5px;
  margin-bottom: 3px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
