.ci_popup_footer_section {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ffebb9;
  padding: 15px 0;
  background: #ffebb9;
  margin-bottom: 0;
}
.ci_popup_footer_icon_home {
  width: 25px;
  color: #ffb200;
  margin-left: 20px;
  cursor: pointer;
}
.ci_popup_footer_icon_user {
  width: 25px;
  color: #5e5b5b;
  margin-right: 20px;
  cursor: pointer;
}
.ci_popup_footer_icon_user:hover {
  color: #ffb200;
}
.ci_popup_content_section {
  padding: 15px;
  background-color: #fff4d9 !important;
}
.ci_popup_all_list_section {
  border-radius: 8px;
  border: 1px solid #ffb200;
}
.ci_popup_list {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000000;
  border-bottom: 1px solid #ffb200;
  padding: 12px 20px;
  cursor: pointer;
}
.ci_popup_list:hover {
  color: #ffb200;
}

.ci_popup_list_title {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000000;
}
.ci__popup__content__image__section {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ci__popup__content__image__section img {
  width: 100px;
}
