.ci_auth_form_or {
  margin: 10px auto;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.ci_auth_desc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.ci_signup_link {
  color: #4339f2;
  text-decoration: underline;
  cursor: pointer;
}
.ci_form_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ci_remember_section {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ci_checkbox_section {
  border: 1px solid #4339f2;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  margin-top: -2px;
}
.ci_forgot_passord {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}
