.ci_auth_desc {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.ci_login_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ci_login_desc {
  font-family: "Inter";
  color: #333333;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin: 15px 0;
  text-align: center;
}
